<div>
    <h1 mat-dialog-title>Update User</h1>
    <form [formGroup]="registerform" (ngSubmit)="UpdateUser()">
        <div style="margin-top: 10%;margin-bottom: 5%;margin-left: 10%;"><mat-form-field>
                <mat-label>Role</mat-label>
                <mat-select formControlName="role">
                    <mat-option value=''>Select Role</mat-option>
                    <mat-option *ngFor="let item of rolelist" [value]="item.code">
                        {{item.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field></div>

        <section style="margin-left: 10%;">
            <mat-checkbox formControlName="isActive" class="example-margin">Is Active</mat-checkbox>
        </section>
        <mat-dialog-actions align="end">
            <button mat-raised-button mat-dialog-close color="accent">Close</button>
            <button type="submit" mat-raised-button color="primary">Save</button>
        </mat-dialog-actions>
    </form>
</div>