.example-full-width {
    width: 80%;
    margin-top: 80px;
}

.pswd-width {
    width: 80%;
    margin-bottom: 50px;
}

.mat-button {
    margin-top: 20px;
    margin-bottom: 50px;
    width: 80%;
    color: white;
    height: 40px;
    background-color: rgb(6, 63, 81);
}
.navbar {
    justify-content: space-between;
}

span {
    padding-right: 1rem;
}

/* .spacer {
    flex: 1 1 auto;
  } */

.card-width {
    max-height: 100px;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.main-div {
    text-align: -webkit-center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.example-stretched-tabs {
    max-width: 700px;
  }
  .flex-left {
    width: 40%;
    height: 70%;
    margin-left:300px;
    background-color: white;
}

.flex-right {
    width: 50%;
    margin-right: 300px;
}

  .box.flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mat-toolbar {
    position: relative;

    z-index: 5;
}
mat-sidenav-container{
  height: calc(205vh - 115vh);
}

mat-sidenav {
  width: 200px;
  background-color: #eee;
}
  