<div class="main-div">
  <mat-card>
    <mat-card-header>
      <mat-card-title>LOGIN</mat-card-title>
      <mat-card-subtitle>Welcome to E-Shop</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="proceedLogin()">
        <mat-form-field class="example-full-width">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username">
        </mat-form-field>
        <mat-form-field class="pswd-width">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password">
        </mat-form-field>
        <div>
          <button mat-button color="primary" routerLink="/register" color="primary" class="span">Create Account</button>
          <button mat-raised-button color="primary">Login</button>
        </div>
      </form>
    </mat-card-content>
    <router-outlet></router-outlet>
  </mat-card>
</div>