.example-full-width {
  width: 90%;
  margin-top: 60px;
}

.mat-card-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pswd-width {
  width: 90%;
  margin-bottom: 50px;
}

.mat-button {
  margin-right: 40%;
}

.mat-raised-button {
  width: 25px;
  height: 40px;
}

.main-div {
  text-align: -webkit-center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.mat-card {
  padding-top: 13%;
  padding-bottom: 9%;
}