<div class="main-div">
  <form [formGroup]="login" (ngSubmit)="loginData(login)">
    <mat-card class="example-stretched-tabs mat-elevation-z4">
      <mat-tab-group mat-stretch-tabs class="example-stretched-tabs" dynamicHeight="true">
        <mat-tab label="LOGIN">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="Email" formControlName="emailID">
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>
          <mat-form-field class="pswd-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="Password" formControlName="password">
            <mat-icon matSuffix>vpn_key</mat-icon>
          </mat-form-field>
          <button mat-button type="submit">Login</button>
        </mat-tab>
        <mat-tab label="REGISTER">
          <app-registration></app-registration>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </form>
</div>