<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center" class="navbar"
  [class.mat-elevation-z4]="isActive">
  <div>
    <button mat-button (click)="opened=!opened"><mat-icon>menu</mat-icon></button>
    <button mat-button>{{title}}</button>
  </div>
  <span>
    <button mat-button>
      <mat-icon>exit_to_app</mat-icon>
      Logout
    </button>
  </span>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened" mode="side">
    <mat-list>
      <button mat-menu-item [matMenuTriggerFor]="product">Products</button>
      <mat-menu #product="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="electronic">Electronics</button>
      </mat-menu>
      <mat-menu #electronic="matMenu">
        <button mat-menu-item routerLink="/store">Mobile</button>
        <button mat-menu-item routerLink="/store">Laptop & Accessories</button>
        <button mat-menu-item routerLink="/store">TV & Home Entertainment</button>
        <button mat-menu-item routerLink="/store">Audio</button>
        <button mat-menu-item routerLink="/store">Cameras</button>
        <button mat-menu-item routerLink="/store">Computer Peripherals</button>
        <button mat-menu-item routerLink="/store">Musical Instruments</button>
      </mat-menu>
      <mat-divider></mat-divider>
      <button mat-menu-item routerLink="/cart">Your Cart</button>
      <mat-divider></mat-divider>
      <button mat-menu-item routerLink="/login">Login/Register</button>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>